<nav class="nav flex-column">
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./display']">Display</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./system']">System</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./config']">Config</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./server']">Server</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./storage']">Storage</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./web']">Web</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./images']">Images</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./logging']">Logging</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./network']">Network</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./email']">Email</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./upload']">Upload</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./x']">X10</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./high']">High B/W</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./medium']">Medium B/W</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./low']">Low B/W</a>
    <a class="nav-item nav-link" [routerLinkActive]="['link-active']" [routerLink]="['./users']">Users</a>
</nav>