<div class="ng-busy-default-wrapper">
    <br />
    <div class="default-sign">
        <div class="loading-bars-container center">
            <div class="cssload-loader">
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
            </div>
        </div>
        <div class="default-text">
            {{ 'PleaseWait' | transloco }}
        </div>
    </div>
</div>