<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            {{ 'Events' | transloco }}
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-outline-primary" (click)="refreshData()">{{ 'Refresh' | transloco }}</button>                           
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-sm btn-outline-primary ml-1" aria-controls="dropdown-basic">
                        <fa-icon [icon]="faEllipsisH"></fa-icon>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#" (click)="total()">Total</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#" (click)="source()">Per Source</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <total-events #chart *ngIf="this.showTotal"></total-events>
        <per-source-events #chart *ngIf="!this.showTotal"></per-source-events>
    </div>
</div>